In [2]:
# Import libraries
import pandas as pd
import numpy as np

# Load datasets
lifespans = pd.read_csv('familiar_lifespan.csv')
iron = pd.read_csv('familiar_iron.csv')

In [3]:
lifespans.head()

     pack   lifespan
0    vein  76.255090
1  artery  76.404504
2  artery  75.952442
3  artery  76.923082
4  artery  73.771212

In [4]:
vein_pack_lifespans = lifespans.lifespan[lifespans.pack == 'vein']
mean_vein_life = np.mean(vein_pack_lifespans)
print(mean_vein_life)

76.16901335636044

In [5]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(vein_pack_lifespans, 73)
print(pval)

5.972157921433201e-07

In [6]:
artery_pack_lifespans = lifespans.lifespan[lifespans.pack == 'artery']
mean_artery_life = np.mean(artery_pack_lifespans)
print(mean_artery_life)

74.8736622351704

In [7]:
from scipy.stats import ttest_ind
tstat,pval = ttest_ind(vein_pack_lifespans,artery_pack_lifespans)
print(pval)

0.055888830790708194

In [8]:
iron.head()

     pack    iron
0    vein     low
1  artery  normal
2  artery  normal
3  artery  normal
4  artery    high

In [9]:
Xtab = pd.crosstab(iron.pack, iron.iron)
Xtab

iron    high  low  normal
pack
artery    87   29      29
vein      20  140      40

In [10]:
from scipy.stats import chi2_contingency
chi2, pval, dof, expected = chi2_contingency(Xtab)
pval

9.359749337433008e-25